/* ALLGEMEIN */

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  /*background: #cfcdca;*/
}

/* NAVIGATION */

#navigation {
}

#banner {
  background-size: cover;
  width: 100%;
  height: 100px;
  z-index: 0;
  text-align: center;
}

#banner h1 {

  text-align: center;
  color: #1a56b8;
  font-size: 2em;
  padding-top: 25px;
}

#menu {
  overflow: hidden;
  background-color: #1a56b8;
  position: sticky;    
}

#menu a {
  float: left;
  border-right: 2px solid #1a56b8;
  display: block;
  background-color: #1a56b8;
  color: white;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
}

#menu a:hover:not(.active) {
  background-color: white;
  color: #1a56b8;
}

#tabelle {
  margin: 50px auto;
  border: solid;
  text-align: center;
  width: 1080px;
  line-height: 140%;
}

#tabelle .table {
 margin: 0 auto;
 padding: 15px;
}

#tabelle  th,td,tr {
  margin-left: auto;
  text-align: center;
  border:solid 1px #1a56b8;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: auto;
}

#tabelle th {
  padding-left: 23px;
  padding-right: 23px;
}

#tabelle td {
  background: #aaf257;
}

#tabelle td:active {
  background: darkgreen;
}

#tabelle td a { 
  background: #aaf257;
  color: inherit; 
  text-decoration: none !important;
}

#tabelle .time {
  background: #c2c0be;
}

#tabelle .zeiten{
  background: #cfcdca;
}

#inhalt {
  border: solid;
  margin-top: 50px;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 960px;
}

#book {
  display: block;
  text-align: center;
  margin-top: 50px;

}
